+++
title = "Catalyst Circle"
linkTitle = "Catalyst Circle"

+++

{{< blocks/cover title="Welcome to Catalyst Circle !" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<p class="lead mt-5">A “human sensor array”.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
The Catalyst Circle is a “human sensor array” that monitors the current state and future plans regarding governance in Project Catalyst. 
The Circle detects and discusses concerns, objections and opportunities arising within the Catalyst eco-system. 
This activity outputs a transparent view into the hopes, wants, needs and concerns of the community, IOHK and Cardano Foundation with Project Catalyst.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fab fa-github" title="Catalyst Circle Version 1" url="https://catalyst-swarm.gitbook.io/catalyst-circle/" %}}
February to April 2022
[Catalyst Circle 1 GitBook](https://catalyst-swarm.gitbook.io/catalyst-circle/).  
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Catalyst Circle Version 2" url="https://quality-assurance-dao.gitbook.io/catalyst-circle-oversight-v2/" %}}
November 2021 to January 2022
[Catalyst Circle 2 GitBook](https://quality-assurance-dao.gitbook.io/catalyst-circle-oversight-v2). 
{{% /blocks/feature %}}
	
{{% blocks/feature icon="fab fa-github" title="Catalyst Circle Version 3" url="https://quality-assurance-dao.gitbook.io/catalyst-circle-oversight-v2/" %}}
February to April 2022
[Catalyst Circle 3 GitBook](https://quality-assurance-dao.gitbook.io/catalyst-circle-oversight-v3/). 
{{% /blocks/feature %}}

{{< /blocks/section >}}
